<header>
    <nav class="navbar navbar-default">
        <div class="navContainer">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Mapa</a>              
                <a class="navbar-brand" routerLink="markers">Wszystkie zgłoszenia</a>
                <!--a class="navbar-brand" href="prices">Cennik</a>
                <a class="navbar-brand" href="drivers">Kierowcy</a>
                <a class="navbar-brand" href="browse">Podgląd</a-->
            </div>
        </div>
    </nav>
</header>

<router-outlet>
</router-outlet>

